doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Bootstrap CSS CDN
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        title Home
    body(class="bg-light")
        .container.mt-5.text-center
            h1 Welcome to the Home Page
            p
                a.btn.btn-primary(href="/register") Register
            p
                a.btn.btn-secondary(href="/login") Login
        footer.footer.text-center
            p © 2023 Manuel Fellner
            p © 2023 Sebastian Sailer
        // Bootstrap JS and Popper.js CDN
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
